body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #e0e0e0;
}

h1 {
    color: #ffffff;
}

input[type="text"] {
    padding: 1%;
    margin: 10px 0;
    width: 200px;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
}

button {
    padding: 1% 10px;
    margin: 5px;
    cursor: pointer;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    font-size: 1.1em;
}

#editorMenu {
    display: block;
}

#editorMenu input[type="text"] {
    padding: 0.5%;
    margin: 5px 0;
    width: 180px; /* Increased width */
    font-size: 0.9em;
}

#editorMenu select {
    padding: 0.5%;
    margin: 5px 0;
    width: 180px;
    font-size: 0.9em;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
}

#editorMenu button {
    padding: 0.5% 5px;
    margin: 3px;
    font-size: 0.9em;
}

.table {
    margin-left: 5%;
    width: 35%; /* Reduced width */
    border-collapse: collapse;
    margin-top: 5%;
    background-color: #333;
    color: #e0e0e0;
}

#quantité {
    float: left;
    margin-right: 5%; /* Added margin to separate tables */
}

#revenues {
    margin-right: 5%;
    margin-left: 5%; /* Added margin to separate tables */
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
    font-size: 1.5em; /* Increased font size */
}

th {
    background-color: #444;
    height: calc(4 * (100vw / 16 / 12)); /* Further reduced height to maintain 16:9 ratio */
}

td {
    border: 1px solid #444;
    height: calc(1.5 * (100vw / 4 / 12)); /* Further reduced height to maintain 4:3 ratio */
}

button#addButton {
    background-color: #4CAF50;
    color: white;
}

button#removeButton {
    background-color: #f44336;
    color: white;
}

footer {
    margin-top: 30%;
}

caption {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

#cout {
    width: 100px;
    padding: 0.5%;
    background-color: #333;
    color: #e0e0e0;
    border: 1px solid #444;
    font-size: 1em;
}